[submodule "third_party/RAFT"]
	path = third_party/RAFT
	url = https://github.com/princeton-vl/RAFT.git
[submodule "third_party/Depth-Anything-V2"]
	path = third_party/Depth-Anything-V2
	url = https://github.com/DepthAnything/Depth-Anything-V2.git
[submodule "third_party/lama"]
	path = third_party/lama
	url = https://github.com/advimman/lama.git
[submodule "third_party/photo-sphere-viewer"]
	path = third_party/photo-sphere-viewer
	url = https://github.com/mistic100/Photo-Sphere-Viewer.git
